{{#each this}}
    <article class="plp-card" data-product-id="{{id}}" data-product-name="{{name}}"
            data-product-imageUrl="{{imageURL}}" data-product-desc="{{description}}" 
            data-product-price="{{price}}" data-product-category="{{category}}" 
            data-product-stock="{{stock}}" data-product-sku="{{sku}}">
            
            <h2>{{name}}</h2>
        
            <div class="plp-card__content">
                <div class="plp-card__content__img-text">
                    <div class="plp-card__img">
                        <img src="{{imageURL}}" alt="{{name}}"/>
                    </div>
                    <div class="plp-card__desc-container">
                        <span class="plp-card__desc">
                            {{description}}
                        </span>
                        <a href="" class="plp-card__cta btn btn-primary hide-on-tablet js-btn-buy">
                           Buy Now @ MRP Rs.{{price}}
                        </a>
                    </div>
                </div>

                <div class="plp-card__content__price">
                    <span class="plp-card-price show-on-desktop js-btn-buy">MRP Rs.{{price}}</span>
                    
                    <div class="btn-on-tablet">
                        <a class="plp-card__cta  btn btn-primary hide-on-mobile show-on-tablet hide-below-desktop js-btn-buy">
                            Buy Now @ MRP Rs.{{price}}
                        </a>
                    </div>
                
                    <a class="plp-card__cta-tabs btn btn-primary show-on-desktop js-btn-buy">
                        Buy Now
                    </a>

                </div>
            </div>
        </article>
{{/each}}

